<app-header></app-header>
<div class="bg-light">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-11 mx-auto">
                <div class="row mt-5 gx-3 bigBox" style="position: relative;">
                    <!-- Left side div (Products) -->
                    <div class="col-md-8 col-12 mx-auto main_cart mb-md-0 mb-5 shadow ss">
                        <div class="card p-4 cards">
                            <h2 class="py-3 font-weight-bold" style="color: #222d41;">Cart Items
                                ({{response.products.length}})</h2>
                            <div class="row" *ngFor="let product of response.products"
                                style="margin-bottom: 15px;  padding: 20px; border-radius: 10px;">
                                <!-- Cart images div -->
                                <div
                                    class="col-md-5 col-11 mx-auto bg-light d-flex justify-content-center align-items-center shadow product_img">
                                    <img [src]="product.thumbnail" class="img-fluid" alt="cart img">
                                </div>
                                <!-- Cart product details -->
                                <div class="col-md-7 col-11 mx-auto  mt-2 z">
                                    <div class="row">
                                        <!-- Product name  -->
                                        <div class="col-6 card-title">
                                            <h1 class="mb-4 product_name" style="color: #222d41;">{{product.title}}</h1>
                                            <p class="mb-2">Discount: {{product.discountPercentage}}%</p>
                                            <p class="mb-2">Price:
                                                <span style="text-decoration: line-through;">{{product.price}}</span>
                                            </p>
                                            <p class="mb-2" style="font-weight: 700;">Price (mulitiply quantity):
                                                {{product.total.toFixed(2)}}
                                            </p>
                                            <p class="mb-2" style="font-weight: 700;">Quantity: {{product.quantity}}
                                            </p>
                                            <p class="mb-2" style="font-weight: 700;">Quantity: {{product.quantity}}
                                                <button class="btnView" (click)="goToProductDetails(product)">View
                                                    product</button>
                                        </div>
                                        <!-- Quantity inc/dec -->

                                    </div>

                                    <!-- Remove, Move and Price -->
                                    <div class="row total">
                                        <div class="col-4 d-flex justify-content-end price_money">
                                            <h3 style="color: #222d41;"><span class="h3">Total:
                                                    {{product.discountedPrice.toFixed(2)}}$</span></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                    </div>

                    <!-- Right side div (Total Amount) -->
                    <div class="col-md-4 col-12 mx-auto mt-md-0 mt-2 bigBox2"
                        style="height: fit-content;  position: sticky; top: 10px; left: 0;">
                        <div class="right_side p-3 shadow bg-white">
                            <h2 class="product_name mb-2" style="color: #222d41;">Total</h2>
                            <div class="price_indiv d-flex justify-content-between">
                                <p>Products total</p>
                                <p>$<span id="product_total_amt">{{response.total}}</span></p>
                            </div>
                            <div class="price_indiv d-flex justify-content-between">
                                <p>Total quantity</p>
                                <p><span id="product_total_amt">{{response.totalQuantity}}</span></p>
                            </div>
                            <div class="price_indiv d-flex justify-content-between">
                                <p>Shipping Charge</p>
                                <p>$<span id="shipping_charge">50.0</span></p>
                            </div>
                            <hr />
                            <div class="total-amt d-flex justify-content-between font-weight-bold">
                                <p>The total amount of (including VAT)</p>
                                <p>$<span id="total_cart_amt">{{(response.total+50).toFixed(2)}}</span></p>
                            </div>
                            <button class="btn btn-primary text-uppercase btnView mt-2 mb-2">Checkout</button>
                        </div>

                        <!-- Delivery date section -->
                        <div class="mt-3 shadow p-3 bg-white">
                            <div class="pt-4">
                                <h5 class="mb-4">Expected delivery date</h5>
                                <p>July 27th 2020 - July 29th 2020</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="footer" style="padding-bottom: 20px;">
    <app-footer></app-footer>
</div>